<div class="tw-flex tw-flex-auto tw-flex-col">
  <div class="tw-flex tw-flex-auto tw-w-full animated fadeIn" *ngIf="basketItems()">
    <table class="basket-table tw-w-full" *ngIf="basketItems().length; else noItems">
      <tr>
        <th>No.</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th></th>
      </tr>
      @for (item of basketItems(); track item.product.id; let index = $index) {
        <tr class="tw-w-full">
          <app-basket-item [basketItem]="item" [itemIndex]="index" class="tw-w-full"/>
        </tr>
      }
    </table>


    <ng-template #noItems>
      <div class="tw-flex tw-flex-auto tw-w-full animated fadeIn">
        <p>No items in cart</p>
      </div>
    </ng-template>
  </div>

</div>
