<div class="tw-flex tw-flex-auto tw-flex-col tw-gap-5">
  <div class="tw-flex tw-flex-auto">
    <h2>Welcome</h2>
  </div>
  <div class="tw-flex tw-flex-auto tw-flex-col tw-gap-5 project-description">
    <h3>
      This Angular project is based on the course <span class="tw-italic tw-font-semibold">RxJS and Angular Signals Fundamentals*</span>
      and focuses on the integration of reactive programming techniques using RxJS and signals in modern Angular applications.
      The project demonstrates how to handle asynchronous data streams and signals effectively, improving performance
      and user experience. It includes the use of services and observables for managing state, data fetching, and event
      handling, emphasizing the declarative approach for handling side effects. The project implements components that
      interact with RxJS streams to display real-time updates, such as product listings or notifications. It also explores
      error handling strategies with RxJS and Angular's HttpClient. Tailwind CSS is integrated for styling, although
      responsive design was not the main focus. The project's primary goal was mastering reactive programming concepts,
      and the codebase follows best practices for TypeScript and Angular, ensuring scalability and maintainability.
      The structure promotes separation of concerns, making the codebase easy to extend and test.
    </h3>
    <p>* Link below</p>
  </div>

  <div class="tw-flex tw-flex-auto tw-flex-col md:tw-flex-row tw-gap-5 project-description">
    <a href="https://github.com/pete85/angular-signals" target="_blank" rel="noopener noreferrer">
      <button mat-raised-button color="primary" class="btn-with-image tw-flex tw-gap-3 tw-items-center tw-justify-center">
        <span>Visit my Github repository</span>
        <img src="assets/images/github.png" alt="Github Repository"/>
      </button>
    </a>

    <a href="https://app.pluralsight.com/library/courses/rxjs-angular-signals-fundamentals/table-of-contents" target="_blank" rel="noopener noreferrer">
      <button mat-raised-button color="primary" class="btn-with-image tw-flex tw-gap-3 tw-items-center tw-justify-center">
        <span>Pluralsight Course</span>
        <img src="assets/images/pluralsight.png" alt="Pluralsight course"/>
      </button>
    </a>
  </div>
</div>
