@import "mixins";
@import "variables";

h1 {
  font: 3rem/3rem 'Bebas Neue', Helvetica Neue, sans-serif !important;
}

h2 {
  font: 2rem/2rem 'Bebas Neue', Helvetica Neue, sans-serif;
}

h3 {
  font: 1.5rem/1.5rem 'Bebas Neue', Helvetica Neue, sans-serif;
}

h4 {
  font: 600 1rem/1.2rem 'Montserrat', Helvetica Neue, sans-serif;
}

p {
  font: 400 1rem/1.2rem 'Montserrat', Helvetica Neue, sans-serif;
  margin: 0;
}

mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
  background-color: theme('colors.slate.500') !important;
}

mat-sidenav-container {
  height:100%;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  background-color: theme('colors.slate.200') !important;
  padding-top: 3.5rem;
  @include respond-above(xs) {
    padding-top: 4rem;
  }

  .entry{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
  background-color: theme('colors.slate.100') !important;
  padding-top: 3.5rem;
  @include respond-above(xs) {
    padding-top: 4rem;
  }
}
