@import "mixins";
@import "variables";

h1 {
  font: 3rem/4rem 'Bebas Neue', Helvetica Neue, sans-serif !important;
}

h2 {
  font: 2rem/3rem 'Montserrat', Helvetica Neue, sans-serif !important;
}

h3 {
  font: 1.5rem/2.5rem 'Montserrat', Helvetica Neue, sans-serif !important;
}

h4 {
  font: 600 1rem/2rem 'Montserrat', Helvetica Neue, sans-serif !important;
}

p {
  font: 400 1rem/2rem 'Montserrat', Helvetica Neue, sans-serif;
  margin: 0;
}

mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
  background-color: theme('colors.slate.600') !important;
  color: theme('colors.white') !important;
  .mat-icon {
    color: theme('colors.white');
  }
}

mat-sidenav-container {
  height:100%;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  background-color: theme('colors.slate.200') !important;
  margin-top: 56px;

  @include respond-above(sm) {
    margin-top: 64px;
  }

  .entry{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.75rem;
  }
}

mat-sidenav-content{
  background-color: theme('colors.slate.100') !important;
  margin-top: 64px;
  @include respond-above(xs) {
    margin-top: 4rem;
  }
}

.mdc-button {
  &.btn-active {
    background-color: theme('colors.blue.500') !important;
  }
}

.snackbar-error {
  p {
    color: theme('colors.red.300');
  }
}

.snackbar-info {
  p {
    color: theme('colors.green.200');
  }
}

.snackbar-warning {
  p {
    color: theme('colors.amber.200');
  }
}

.review-container {
  padding: 10px 20px;
  border: 2px solid theme('colors.slate.200');
  border-radius: 8px;
}

.basket-total, .product-details, .project-description {
  padding: 20px 40px;
  border: 2px solid theme('colors.slate.300');
  background-color: theme('colors.slate.200');
  border-radius: 8px;
}

.btn-with-image {
  .mdc-button__label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img {
    max-height: 26px;
    margin-left: 10px;
  }
}

//.project-description {
//  img {
//    width: 200px;
//    height: 200px;
//  }
//}

.total-price {
  border-top: 2px solid theme('colors.slate.300');
}
