@import "mixins";

.basket-table {
  width: 100%;
  border: 2px solid theme('colors.slate.300');
  background-color: theme('colors.slate.200');
  border-radius: 8px;
  color: theme('colors.slate.800');
  overflow: hidden;
  margin: 1em 0;

  th, .mobile-table-header {
    font: 1.2rem/1.5rem 'Montserrat', Helvetica Neue, sans-serif !important;
    color: theme('colors.blue.600');
  }

  td {
    font: 1rem/1.2rem 'Montserrat', Helvetica Neue, sans-serif !important;
    display: block;
  }

  th {
    display: none;
  }

  th, td {
    text-align: left;
    padding: 10px;

    @include respond-above(sm) {
      display: table-cell;
    }
  }
}

.table-separator {
  width: 96%;
  margin: 10px auto;
  height: 2px;
  background-color: theme('colors.slate.300');
}
