@import "mixins";

.basket-table {
  width: 100%;
  border: 2px solid theme('colors.slate.300');
  background-color: theme('colors.slate.200');
  border-radius: 8px;
  color: theme('colors.slate.800');
  overflow: hidden;
  margin: 1em 0;

  th {
    color: theme('colors.blue.600');
  }

  td {
    display: block;
  }

  th, td {
    text-align: left;
    padding: 10px;

    @include respond-above(xs) {
      display: table-cell;
    }
  }
}
