<div class="tw-flex tw-flex-auto tw-flex-col">
  <div class="tw-flex tw-flex-auto tw-mb-5">
    <h2>{{ pageTitle }}</h2>
  </div>

  <div class="tw-flex tw-flex-col tw-gap-2 tw-flex-auto" *ngIf="products() as products">

    <mat-form-field appearance="outline">
      <mat-label>Select product</mat-label>
      <mat-select (selectionChange)="onSelected($event.value)" [disabled]="!products || (products && !products.length)">
        @for (product of products; track product) {
          <mat-option [value]="product.id">{{ product?.productName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="tw-flex tw-flex-auto tw-justify-center tw-items-center tw-min-h-[200px]"
         *ngIf="!products || (products && !products.length)">
      <app-loader></app-loader>
    </div>
  </div>

  <div class="tw-flex tw-mt-5">
    <div class="tw-flex tw-flex-auto tw-justify-center tw-items-center tw-min-h-[200px]"
         *ngIf="loadingProduct()">
      <app-loader></app-loader>
    </div>
    <app-product-details class="tw-w-full" *ngIf="!loadingProduct()"/>
  </div>
</div>
