<div class="tw-flex tw-flex-auto tw-flex-col">
  <div class="tw-flex tw-flex-auto">
    <h2>{{ pageTitle }}</h2>
  </div>

  <div class="tw-flex tw-flex-col tw-gap-2 tw-flex-auto" *ngIf="products.length">
      <button type='button' mat-flat-button color="primary"
              *ngFor='let product of products'
              [ngClass]="{'btn-active': product.id === selectedProductId}"
              (click)='onSelected(product.id)'>
        {{ product.productName }}
      </button>
  </div>

  <div class="tw-flex tw-flex-auto" *ngIf="errorMessage">
    <h4>{{ errorMessage }}</h4>
  </div>


  <div class='col-md-8'>
    <app-product-details [productId]="selectedProductId"/>
  </div>
</div>
