<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h2>Angular with Signals - demo</h2>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav #drawer mode="side" class="navigation-bar">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>Home</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/products']">
        <span class="entry">
          <mat-icon>category</mat-icon>
          <span>Products</span>
        </span>
      </a>

      <a mat-list-item [routerLink]="['/basket']">
        <span class="entry">
          <mat-icon>shopping_basket</mat-icon>
          <span>Basket</span>
          <span class="tw-ml-1" [matBadge]="basketCount()" matBadgeSize="large" matBadgeOverlap="false"
                matBadgePosition="before"></span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="tw-p-5 page-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
