<div class="tw-flex tw-flex-auto tw-justify-center tw-items-center tw-min-h-[200px]" *ngIf="loadingProduct">
  <app-loader></app-loader>
</div>



<div class="tw-flex tw-flex-auto tw-flex-col animated fadeIn" *ngIf="product && !loadingProduct">
  <div class="tw-flex tw-flex-auto tw-mb-5">
    <h2>{{ pageTitle }}</h2>
  </div>

  <div class="tw-flex tw-flex-auto tw-flex-col tw-gap-y-5">

    <!-- *** Product name *** -->
    <div class="tw-flex tw-flex-auto tw-items-center">
      <div class="tw-flex-grow-0 tw-w-[120px]">
        <h4>Name:</h4>
      </div>
      <p>{{ product.productName }}</p>
    </div>

    <!-- *** Product code *** -->
    <div class="tw-flex tw-flex-auto tw-items-center">
      <div class="tw-flex-grow-0 tw-w-[120px]">
        <h4>Code:</h4>
      </div>
      <p>{{ product.productCode }}</p>
    </div>

    <!-- *** Product description *** -->
    <div class="tw-flex tw-flex-auto tw-items-center">
      <div class="tw-flex-grow-0 tw-w-[120px]">
        <h4>Description:</h4>
      </div>
      <p>{{ product.description }}</p>
    </div>

    <!-- *** Product price *** -->
    <div class="tw-flex tw-flex-auto tw-items-center">
      <div class="tw-flex-grow-0 tw-w-[120px]">
        <h4>Price:</h4>
      </div>
      <p>{{ product.price | currency:"GBP":"symbol" }}</p>
    </div>

    <!-- *** Product quantity *** -->
    <div class="tw-flex tw-flex-auto tw-items-center">
      <div class="tw-flex-grow-0 tw-w-[120px]">
        <h4>In Stock:</h4>
      </div>
      <p>{{ product.quantityInStock ?? 0 }}</p>
    </div>

    <div class="tw-flex tw-flex-auto tw-items-center tw-gap-3">
      <button mat-flat-button color="primary" (click)="addToBasket(product)">Add to Basket</button>
    </div>
  </div>

  <div class="tw-flex tw-flex-auto tw-flex-col tw-gap-y-5 tw-mt-5">
    <div class="tw-flex tw-flex-auto tw-items-center">
      <table class="table mb-0"
             *ngIf="product.reviews; else noReviews">
        <thead>
        <tr>
          <th>Review</th>
          <th>Username</th>
          <th>Text</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let review of product.reviews">
          <td>{{ review.title }}</td>
          <td>{{ review.userName }}</td>
          <td>{{ review.text }}</td>
        </tr>
        </tbody>
      </table>

      <ng-template #noReviews>
        <p>No reviews for this product</p>
      </ng-template>
    </div>
  </div>
</div>
